<div class="main-container">
    <h1>Main</h1>
    <person-item [valor]="Juan" #person (eventClick)="handleEventClick($event)"></person-item>
    <button (click)="person.executeFromParent()">Testing child!</button>
    <button (click)="toggleVisibility()">Toggle Visible</button>

    <div [hidden]="!isVisible">
        <input value="Pruebas NgIF" />
        <button>Click Me!</button>
    </div>

    <div *ngIf="isVisible">
        <input value="Pruebas NgIF" />
        <button>Click Me IF!</button>
    </div>

    <div>
        <div *ngFor="let hero of heroes">
            <span>{{hero.name}}</span>
            <span>{{hero.color}}</span>
        </div>
    </div>
</div>